.projectsMainContainer {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.carouselContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 300%;
}

.carouselItem {
    transition: 0.2s ease;
    display: flex;
    flex-direction: column;
    padding-right: 24px;
}

.carouselItemActive {
    transition: 0.2s ease;
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    opacity: 0.25;
}

.carouselText {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btnContainer {
    display: flex;
    flex-direction: row;
}

video {
    width: 100%;
    max-width: 700px;
}

