.projectsMainContainer {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.carouselContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 300%;
}

.carouselItem {
    transition: 0.2s ease;
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    animation: all 1s ease-in-out;
}

.carouselItemInactive {
    transition: 0.2s ease;
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    opacity: 0.25;
    pointer-events: none;
}

.carouselText {
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}

.carouselText:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

video {
    width: 100%;
    max-width: 700px;
    cursor: pointer;
}

