.projectsMainContainer {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.carouselContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 600%;
    transition: all;
}

.carouselContainer > * {
    transition: 0.2s ease-in-out
}

.carouselItemContainer {
    display: flex;
    flex-direction: row;
    max-width: 750px;
    margin: 20px;
    padding-top: 30px;
}

@media (max-width: 750px) {
    .carouselItemContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 0.9em;
    }
  }

.carouselTextContainer {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

@media (max-width: 685px) {
    .carouselTextContainer {
        padding-left: 0;
    }
  }

.carouselItemInactive {
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.carouselItemText {
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

.carouselItemImage {
    justify-items: start;
    object-fit: contain;
    width: 100%;
    max-width: 200px;
}