
.logoGroup{
    height: 150px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.7);
}

.logoGroup > div > img{
    position: absolute;
    transition: opacity 0.2s ease-in-out;
}

@media (max-width: 500px) {
    .logoGroup {
        height: 120px;
        width: 160px;
    }
}