.skillsMainContainer {
    display: flex;
    flex-direction: column;
    padding: 10vw;
    max-width: 1000px;
}

.paddingBottom50px {
    padding-bottom: 50px;
}

.textContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    padding-bottom: 15px;
}

.paddingRight15px{
    padding-right: 15px;
}

.dividerLine {
    width: 100%;
    border-top: solid #c5c5c5;
    border-width: 1px 0px 0px 0px;
}

.logoContainer {
    align-items: center;
    padding-bottom: 50px;
}

.logoWide {
    height: 30px;
    object-fit: contain;
    padding: 10px;
    padding-right: 15px;
    cursor: pointer;
}