.masterContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navWrapper{
    width: 100vw;
    height: auto;
}

.mainContainer{
    display: flex; 
    flex-direction: column; 
    max-width: 1000px;
    align-items: center;
    margin: 5% 10% 5% 10%;
}

.headerImage{
    height: 30vh;
    width: 100vw;
    object-fit: cover;
    background: darkblue;
}

.clickable {
    text-decoration: underline;
    color: deeppink;
    cursor: pointer;
}

.textContainer{
    padding: 5% 10% 5% 10%;
    text-align: center;
    max-width: 600px;
}

.ac {
    align-items: center;
    justify-content: center;
}


.footerWrapper {
    width: 100vw;
    height: auto;
    background-color: #82e9cf;
 }

 
 .footerContent {
    max-width: 1000px;
    margin: 0 auto;
 }

 .baileyImg{
    width: 100%;
 }