.footerMainContainer {
    background-color: #82e9cf;
    padding: 10px 20px 10px 20px;

}

.footerMainContent{
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
}

.LetsChatContainer{
    display: flex;
    align-items: stretch;
}



.contentGrid {
    display: grid;
    column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sectionText{
    display: flex;
    flex-direction: column;
}


/* Copyright Bottom Bar */
.bottomBarContent { 
    padding: 7px;
    display: flex;
    justify-content: space-between;
}

.bottomBarLine {
    border-top: solid #8F8F8F;
    border-width: 1px 0px 0px 0px;
}

.bottomBarText{
    color: #686868;
    font-size: small;
}
