body {
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  all: unset;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 2.5em;
  color: #2E2E39;
  margin: 0;
  padding: 0;
}

h3 {
  all: unset;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4em;
  color: #2E2E39;
  margin: 0;
  padding: 0;
}

h4 {
  all: unset;
  letter-spacing: 2px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  color: #2E2E39;
  margin: 0;
  padding: 0;
}



body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #cacaca;
}

.mainDivider {
  border:none;
  height: 20px;
 	width: 90%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #bebebe;
	box-shadow: 0px 20px 20px -20px rgb(190, 190, 190);
  margin: -50px auto 10px; 
  max-width: 1200px;
}

.paddingBottom50px {
  padding-bottom: 50px;
}